<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600;700;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="container header pt-4  flex justify-between items-center pb-4">
    <a class=" hover:animate-spin duration-300" href="index.html">
      <img src="./assets/images/logo.png" width="50" alt="">
    </a>
    <div class="flex">
      <a href="join.html">
        <button class="btn-join hidden md:block mr-3">註冊/加入</button>
      </a>
      <a href="">
        <button class="btn-join-1 hidden md:block ">成為房東</button>
      </a>

      <a href="login.html" class="flex text-xl font-semibold  items-center ml-8">        
        <i class="fa-solid fa-circle-user mr-2"></i>
        <p>Login</p>
      </a>
      
    </div>


  </header>

  <div
    class=" bg-bg-color h-screen rounded-tl-[20px] rounded-br-[50px] md:rounded-tl-[100px] md:rounded-br-[100px] lg:rounded-tl-[130px] lg:rounded-br-[130px] py-20">
    <%- contents %>
  </div>



  <footer class="footer container pt-4 pb-4">
    <!-- logo       -->
    <div class="flex justify-between items-center">
      <a class=" hover:animate-spin duration-300" href="index.html">
        <img src="./assets/images/logo.png" width="45" alt="">
      </a>
      <div class="flex text-20 text-primary sm:text-24">
        <i class="fa-brands fa-facebook mr-2 sm:mr-4 hover:scale-110 duration-300 hover:text-secondary"></i>
        <i class="fa-solid fa-envelope  mr-2 sm:mr-4 hover:scale-110 duration-300 hover:text-secondary"></i>
        <i class="fa-brands fa-instagram hover:scale-110 duration-300 hover:text-secondary"></i>
      </div>
    </div>
    <!-- 連結區塊 -->
    <div class="md:flex  sm:justify-between mt-4 md:mt-6">
      <ul class="hidden md:block ">
        <li class="mb-1">全台最齊全、最優質的民宿</li>
        <li class="mb-1">熱門地點搜尋</li>
        <li class="mb-1">五星評分系統</li>
        <li class="mb-1">精選民宿推薦</li>
        <li>加入賺取額外收入</li>
      </ul>
      <ul class="list-none flex justify-between sm:justify-end">
        <li class="text-sm sm:mr-4">
          <p class="text-lg font-semibold mb-2">加入我們</p>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="">註冊會員</a>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="">成為房東</a>
        </li>
        <li class="text-sm sm:mr-4">
          <p class="text-lg font-semibold mb-2">會員中心</p>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="">註冊/加入</a>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="">登入</a>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="./membercentre.html">訂房紀錄</a>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="./membercentre.html">收藏民宿</a>
        </li>
        <li class="text-sm sm:mr-4">
          <p class="text-lg font-semibold mb-2">房東中心</p>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="">出租民宿</a>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="">房源管理</a>
        </li>
        <li class="text-sm ">
          <p class="text-lg font-semibold mb-2">客服中心</p>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="">問與答 QA</a>
          <a class="text-light hover:scale-110 duration-300 hover:text-secondary" href="">聯繫我們</a>
        </li>
      </ul>
    </div>
    <!-- hr補充 -->
    <hr class="border-primary mt-4">
    <p class="text-sm my-2">此網站僅做為前端 Side Project 作品，無營利用途</p>
  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>